@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Work+Sans:wght@400;700&display=swap');

$primary-color: #f3e4e1;
$secondary-color: #2f2926;

$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'Work Sans', sans-serif;
